<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registro</title>
    <!-- Bootstrap CSS -->
    {% block stylesheets %}
    <link rel="stylesheet" href="{{asset('../public/assets/vendor/bootstrap/css/bootstrap.min.css')}}">
    <link href="{{asset('../public/assets/vendor/fonts/circular-std/style.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{asset('../public/assets/libs/css/style.css')}}">
    <link rel="stylesheet" href="{{asset('../public/assets/vendor/fonts/fontawesome/css/fontawesome-all.css')}}">
	<link rel="stylesheet" href="{{asset('../public/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css')}}">
  
  	{% endblock %}
    
</head>

<body>

    <!-- ============================================================== -->
    <!-- forgot password  -->
    <!-- ============================================================== -->
    <div class="splash-container">
        <div class="card">
            <div class="card-body">
               <h1 class="text-success text-center">
               		¡Tus respuestas fueron enviadas satisfactoriamente, agradecemos tu participación! 
              </h1>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end forgot password  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    
</body>

 
</html>
